In [3]:
import pandas as pd
import schedule
import time
from logger import logging

import krakenex
from pykrakenapi import KrakenAPI
api = krakenex.API()
k = KrakenAPI(api)
api.load_key('kraken_keys.py')

In [16]:
pair

'XETHZUSD'

In [29]:
currency = 'ZUSD'
crypto = 'XETH'
pair = crypto + currency
agg = '240'

df, last = k.get_ohlc_data(pair, interval=agg, ascending=True, since=k.datetime_to_unixtime(pd.to_datetime('2020-01-01')))
df.index = df.index.tz_localize(tz='UTC').tz_convert('US/Central')
df

,time,open,high,low,close,vwap,volume,count
dtime,,,,,,,,
2020-05-05 19:00:00-05:00,1588723200,205.48,209.23,202.25,206.94,205.45,7770.709506,2029
2020-05-05 23:00:00-05:00,1588737600,206.83,208.72,205.91,207.89,207.62,3894.413602,2536
2020-05-06 03:00:00-05:00,1588752000,207.88,211.13,206.40,210.54,209.31,17330.739791,3018
2020-05-06 07:00:00-05:00,1588766400,210.54,211.31,207.00,208.42,209.01,8933.991571,1894
2020-05-06 11:00:00-05:00,1588780800,208.55,209.01,204.67,205.00,206.97,8256.965770,1287
...,...,...,...,...,...,...,...,...
2020-09-01 23:00:00-05:00,1599019200,469.90,481.00,465.75,466.78,473.99,13643.140015,2760
2020-09-02 03:00:00-05:00,1599033600,466.78,472.38,423.00,442.30,446.59,47210.008619,7744
2020-09-02 07:00:00-05:00,1599048000,442.25,448.98,427.00,432.92,438.90,36493.205239,6153
2020-09-02 11:00:00-05:00,1599062400,432.98,438.52,422.00,436.29,430.75,34719.835507,5388
2020-09-02 15:00:00-05:00,1599076800,436.41,438.45,431.51,436.52,434.40,2791.737301,753

In [27]:
k.get_ohlc_data(pair, interval=agg, ascending=True, since=last)[0]

,time,open,high,low,close,vwap,volume,count
dtime,,,,,,,,
2020-09-02,1599004800,475.81,481.0,422.0,436.52,447.32,159178.62134,26775

In [21]:
k.datetime_to_unixtime(pd.to_datetime('2020-01-01'))

1577836800

In [15]:
k.get_trade_balance()

       ZEUR
eb  17.7263
tb   1.0513
m    0.0000
n    0.0000
c    0.0000
v    0.0000
e    1.0513
mf   1.0513