In [4]:
# Library imports:
import pandas as pd

In [14]:
# Load data:
df = pd.read_csv('eth_historical_4hrs.csv', parse_dates=['time_period_start', 'time_period_end', 'time_open', 'time_close'])
df.head()

,time_period_start,time_period_end,time_open,time_close,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2016-10-17 12:00:00+00:00,2016-10-17 16:00:00+00:00,2016-10-17 14:02:50.463000+00:00,2016-10-17 15:52:20.075000+00:00,11.87000,11.90000,11.85972,11.8895,1076.171006,48
1,2016-10-17 16:00:00+00:00,2016-10-17 20:00:00+00:00,2016-10-17 16:06:47.168000+00:00,2016-10-17 19:59:40.924000+00:00,11.89000,12.00000,11.89000,12.0000,6184.443260,182
2,2016-10-17 20:00:00+00:00,2016-10-18 00:00:00+00:00,2016-10-17 20:00:56.389000+00:00,2016-10-17 22:59:11.255000+00:00,12.00000,12.03000,11.93356,12.0300,3391.487460,120
3,2016-10-18 00:00:00+00:00,2016-10-18 04:00:00+00:00,2016-10-18 00:52:09.076000+00:00,2016-10-18 03:56:53.167000+00:00,12.02591,12.20000,12.00000,12.2000,1590.240506,53
4,2016-10-18 04:00:00+00:00,2016-10-18 08:00:00+00:00,2016-10-18 04:01:54.687000+00:00,2016-10-18 07:51:48.682000+00:00,12.20000,12.54799,12.20000,12.4310,4801.330298,164

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8413 entries, 0 to 8412
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_period_start  8413 non-null   datetime64[ns, UTC]
 1   time_period_end    8413 non-null   datetime64[ns, UTC]
 2   time_open          8413 non-null   datetime64[ns, UTC]
 3   time_close         8413 non-null   datetime64[ns, UTC]
 4   price_open         8413 non-null   float64
 5   price_high         8413 non-null   float64
 6   price_low          8413 non-null   float64
 7   price_close        8413 non-null   float64
 8   volume_traded      8413 non-null   float64
 9   trades_count       8413 non-null   int64
dtypes: datetime64[ns, UTC](4), float64(5), int64(1)
memory usage: 657.4 KB

In [17]:
# Calculate MACD
FAST, SLOW, SIGNAL = 12, 26, 9
macd_fast = df['price_close'].ewm(span=FAST, adjust=False).mean()
macd_slow = df['price_close'].ewm(span=SLOW, adjust=False).mean()
macd = macd_fast-macd_slow
signal = macd.ewm(span=SIGNAL, adjust=False).mean()

# Add in MACD indicators:
df['macd'] = macd
df['signal'] = signal